<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id ="CRUDDB" class="springTest.CRUD.CrudWithDB">
    </bean>
    <bean id ="CacheDB" class="springTest.CRUD.CRUDCacheDB">
    </bean>



</beans>